/*header*/
header{width:100%;height:0.8rem;position:fixed;left:0;top:0;background:#d72355;border-bottom:1px #a8a7ab solid;overflow:hidden;z-index:2;}
header h1{width:100%;text-align:center;line-height:0.8rem;font-size:0.32rem;color:#fff;font-weight:500;}
header a{ font-size:0.28rem; color:#fff;}
header .toback{position:absolute;left:0;top:0.2rem;background: url(../images/icon1.png) no-repeat;background-size:cover;width:0.17rem;height:0.29rem;}
header .h-regiser{position:absolute;right:0;top:0.25rem;}

/*footer*/
footer{position:fixed;bottom:0;left:0;overflow:hidden;width:100%;z-index:2;}
footer h1{width:100%; font-size:0.3rem;color:#222c38;text-align:center;height:0.88rem;line-height:0.88rem;border-bottom:1px #c8c7cc solid;}
footer .othertype{padding:0.35rem 0;width:100%;margin:0 auto;}
footer .othertype a{display:block;width:0.7rem;height:0.57rem;margin:0 auto; }
footer .othertype img{width:100%;height:auto;}


/*登录主体 --start*/
.login-area{padding:0.85rem 0.37rem 2.18rem; overflow:hidden;width:100%;}
.login-area .loginbox{border:1px #c8c7cc solid;border-radius:5px; background: #fff;}
.loginbox span{display:inline-block; margin-left:0.42rem;}
.loginbox input{border:none;outline:none;line-height: 1.37rem;font-size:0.3rem;color:#222c38;text-indent:0.4rem;}
.loginbox .username{height:1.43rem;border-bottom:1px #c8c7cc solid;}
.loginbox .username input{width:5.96rem;}
.loginbox .username span{background:url(../images/ren.png) no-repeat;width:0.25rem;height:0.29rem;background-size:cover;}
.loginbox .password span{background: url(../images/pass.png) no-repeat;width:0.27rem;height:0.34rem; background-size: cover;}
.loginbox .password input{width:4.43rem;}
.loginbox .password a{color:#e01a48;}
.login-area .submit{display:inline-block;width:5.6rem;margin-left:0.58rem;background:#e01a48; padding:0.25rem 0;color:#fff;text-align: center;border-radius: 0.2rem;margin-top:0.76rem;box-shadow:0 0 15px rgba(0,0,0,0.3);font-size:0.3rem;}

/*注册机构 --start*/
.choose-org-type,.items .orgtitle{background: #f0eff5;border-bottom:1px solid #c8c7cc;height:0.65rem;line-height: 0.65rem;font-size:0.3rem;}
.items .orgtitle{height:0.8rem;line-height: 0.8rem;}
.items .orgtitle{background:#fff;position:relative;}
.items .orgtitle .orgname{display: inline-block; background: url(../images/down.png) no-repeat right center; width:100%; background-size:0.25rem 0.16rem ;}
.items .orgtitle .bgorgname{background: url(../images/up.png) no-repeat right center;background-size:0.25rem 0.16rem ;}
.items{background:#fff;overflow:hidden;}

.orgmark a{display: inline-block;height:0.59rem;line-height:0.59rem;width:1.52rem; text-align:center;font-size:0.26rem;margin:0.26rem 0.16rem;color:#7a7e83; border:1px #c8c7cc solid; 
					border-radius: 0.3rem;}
.nextstep{ display:inline-block;text-align:center;height:0.78rem;width:80%;font-size:0.3rem;line-height:0.78rem;background: #e01a48;color:#fff;margin:0.7rem;border-radius:0.2rem;}
.items .active{border:1px #de204b solid; color:#de204b;position:relative;}
.items .active:after{position:absolute;content:'';width:0.28rem;height:0.28rem;top:0;right:-0.14rem;
					background: url(../images/choose.png) no-repeat; background-size:cover;}
.myselfmark input{ width: 1.2rem; height: 0.4rem;border: none;line-height: 0.4rem; text-align: center;}

/*注册--上传名片--start*/
.uploadbox{padding:0.62rem 0.98rem 0.3rem 0.95rem;border-bottom:1px #c8c7cc solid;}
.uploadbox .imgcard{display:block;background:#9ba4ad;padding:1.07rem 2.09rem 1.08rem 2.3rem;}
.uploadbox .imgcard img{ width:1.18rem;height:0.96rem;display: block;}
.uploadbox .uploadbtn{display: block; color:#fff;font-size:0.3rem;text-align:center;width:100%;height:0.78rem;line-height:0.78rem;
					background: #3e82f7;border-radius: 0.2rem;margin:0.45rem 0 0.2rem;box-shadow: 0 0 0.3rem rgba(0,0,0,0.5);}
.uploadbox  p{width:100%;text-align:center;font-size:0.24rem;color:#7a7e83;line-height: 0.46rem;}
.infobox{padding:0.08rem 0.3rem 0; background: #FFFFFF;}
.infobox li{position:relative;height:0.8rem;line-height: 0.8rem;border-bottom:1px #c8c7cc solid;font-size:0.3rem;color:#222c38;}
.infobox li span.infocard{position:absolute;right:0.1rem;}
.infobox li input{border:none;outline: none;text-align: right;}

.reg-shadow{width:100%;height:100%;position:fixed;left:0;top:0;background:rgba(0,0,0,.3);overflow:hidden;}
.shadow-info{position:fixed;bottom:0;left:0;width:100%;}
.shadow-info .picinfo{background: #fff;width:80%;margin:0.2rem auto;border-radius: 0.3rem;}
.picinfo span{display: block;color:#007aff;font-size:0.38rem;height:1.14rem;line-height: 1.14rem;text-align: center;}

.reg-sucess a{display: block;width:1.69rem;height:1.69rem;background: url(../images/sucess.png) no-repeat;background-size: cover; margin:0.3rem auto;}
.reg-sucess p{line-height: 1.38rem;font-size:0.3rem;color:#222c38;}

@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:0.16rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    }
/*news --start--*/
.news-serch{background: url(../images/serch.png) no-repeat; background-size:cover; width:0.32rem;height:0.32rem;}
.banner{background: url(../images/banner.jpg) no-repeat center center;background-size:cover; width:100%;height:2.95rem;}
.news-list-items{border-top:1px #c8c7cc solid; padding:0.36rem 0.4rem 0.3rem;}
.news-list-items h1{width:100%;color:#969fa9;font-size:0.24rem;line-height: 0.4rem;position:relative;padding-left:0.5rem;}
.news-list-items h1 span{width:0.4rem;height:0.4rem;position:absolute;left:0;}
.news-list-items h1{display: inline-block;}
.news-list-items h1 span img{width:100%;height:auto;display: block;}
.newsbox{overflow:hidden;display: block; color:#969fa9;}
.newsbox .sec-news-l{float:left;width:4.7rem;}
.newsbox .sec-news-l h3{line-height: 0.86rem;font-size:0.3rem;color:#222c38;}
.newsbox .sec-news-l p{line-height:0.36rem;font-size:0.24rem;}
.newsbox .sec-news-r{float:right;width:1.6rem;height:1.6rem;padding-top:0.24rem;}
.newsbox .sec-news-r img{width:100%;height:auto;display: block;}

.news-bottom .sec-b-l{float:left;}
.news-bottom .sec-b-l div{display:inline-block;}
.sec-like span{display: inline-block;}
.news-bottom .sec-b-r{float:right;}
