/*reset css*/
html, body, div,iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {margin:0;padding:0;}
html{background:#f0eff5;}
ol, ul{ list-style: none; }
a{text-decoration: none; /*color:#7a7e83;*/color:#222c38;outline:none;font-size:0.28rem;}
img{border:0;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);tap-highlight-color: rgba(0, 0, 0, 0);   -webkit-box-sizing: border-box;box-sizing: border-box;}
body {font: 14px / 0.24rem 'Microsoft YaHei',Helvetica,Arial,sans-serif; min-width:320px;max-width: 750px;width:100%;margin:0 auto; -webkit-overflow-scrolling: touch;  overflow-scrolling: touch;}
input, textarea, button,select{ outline: 0; resize: none;font-size:100%;/*font:inherit;*/background: rgba(255,255,255,0);font-family: STHeiti,'Microsoft YaHei',Helvetica,Arial,sans-serif;}
html{ outline: 0;-webkit-text-size-adjust:none;}
html,body { width: 100%;}
i{font-style: normal;}
h1,h2,h3,h4,h5,h6{font-size:0.32rem;}
p{background-color: transparent;word-break: break-all;font-size:.3rem;line-height: .34rem;}
/*app*/
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);border:none;background: none;}
input[type='text'],textarea{-webkit-appearance: none;}/*iphone内阴影*/
textarea::-webkit-scrollbar{display: none;}/*隐藏多文本框滚动条*/
/*reset css end*/
/*common css*/
.fl { float:left; display: inline; }
.fr { float:right; display: inline; }
.clear { clear:both; }
.clfix{clear:left;}
.crfix{clear:right;}
.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; font-size:0; line-height:0; height:0;}
.clearfix { *zoom:1; /* for IE6 7 */ }
.inner{width:90%;margin:0 auto;position:relative;}
.content_inner{padding:0 .3rem;}
.wraper{overflow:hidden;}
.fixedwraper{position:relative;/*padding-top:0.8rem;*/}
.innerwaper{padding-left: 0.3rem;padding-right: 0.3rem;width:100%;}
.my-wraper{padding-top:1.6rem;}
/*.h20{background:#f0eff5;border-top:1px solid #c8c7cc;border-bottom:1px solid #c8c7cc;height:0.2rem;}*/
.h2{height:0.2rem;}
.m-wraper,.m-wraper-h{overflow-x:hidden;position:relative;padding-bottom:1rem;}
.m-wraper-h{padding-top:3.4rem;padding-bottom:1.2rem;}
.wraper .nobottom,.wraper .no-bottom{border-bottom:none;}
.no-bottom{border-bottom:none;}
.wraper .no-margin-top{margin-top:0;}
.wraper .no-b-tb{border-bottom:none;margin-top:0;}
.wraper .no-t-border{border-top:none;}
.wraper .pd20{margin-bottom:0.2rem;}
.wraper .p20{padding-top:0.2rem;}
.wraper .tr{text-align: right;}
.wraper .tc{text-align:center;}
.wraper .mt1{margin-top:-1px;}
.wraper .mb20{margin-bottom:.2rem;}
.wraper .green{color:#80c269;}
.hf20{height:0.2rem;background: #fff;border-bottom:1px #e5e5e5 solid;}
.wraper .texthide{word-break: break-all;display: -webkit-box;/*-webkit-line-clamp: 3;限制行数*/-webkit-box-orient: vertical;overflow: hidden;}
/*限制一行*/
.line1,.line2,.line3{word-break: break-all;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;}
/*一行*/
.line1{-webkit-line-clamp: 1;}
/*二行*/
.line2{-webkit-line-clamp: 2;}
/*三行*/
.line3{-webkit-line-clamp: 3;}
/*1px border*/
  .bd1,.bd2,.ld1,.rd1{position:relative;}
.bd1:after{width:200%;height:1px;position:absolute;bottom:0;left:0;z-index:0;content:"";-webkit-transform:scale(0.5);-webkit-transform-origin:0 0;transform:scale(0.5);/*transform-origin:0 0;*/background: #e5e5e5;}
.bd2:before{width:200%;height:1px;position:absolute;top:0;left:0;z-index:0;content:"";-webkit-transform:scale(0.5);-webkit-transform-origin:0 0;transform:scale(0.5);transform-origin:0 0;background: #e5e5e5;}
.ld1:after{height:200%;width:1px;top:0;left:0;content:"";-webkit-transform:scale(0.5);-webkit-transform-origin:0 0;transform:scale(0.5);transform-origin:0 0;background: #e5e5e5;position:absolute;}
.rd1:before{height:200%;width:1px;top:0;right:0;content:"";-webkit-transform:scale(0.5);-webkit-transform-origin:0 0;transform:scale(0.5);transform-origin:0 0;background: #e5e5e5;position:absolute;}
/*--主题背景色--*/
.bggray{background: #7a7d82;}
.bgred{background: #e01a48;}
.bg-ff{background: #fff;}
.newswraper,.a-wraper{padding-bottom:1.2rem;}
.innercon{margin:0 auto;padding:0 0.3rem;background: #fff;}
.h20{height:0.2rem;border-top:1px #e5e5e5 solid;border-bottom:1px #e5e5e5 solid;}
.wraper .border{border-top:1px #e5e5e5 solid;border-bottom:1px #e5e5e5 solid;}

.wraper .f-color-gray{color:#bbc0c6;font-size:0.28rem;line-height: 0.32rem;}
.wraper .f-color-black{color:#222c38;}/*字体颜色*/
.wraper .col-g{color:#22a69f;}
.wraper .col-o{color:#f06c27;}
.wraper .col-lg{color:#6baf44;}
.wraper .col-y{color:#fdb94d;}
.wraper .bgff{background: #fff;}
.wraper .ft26{font-size:0.26rem;}
.wraper .mt0{margin-top:0;}
.wraper .mb50{margin-bottom:0.5rem;margin-top:0.2rem;}
.wraper .mt20{margin-top:0.2rem;}
.wraper .mr i{margin-right:0.2rem;font-size:.3rem;}
.wraper .colorbg{background: #7a7e83;}
.wraper a.colorbg{background: #7a7e83;}
.wraper .f7{color:#7a7e83;margin-right:0.1rem;font-size:.3rem;}
.wraper .ml20{margin-left:0.2rem;}
.wraper .mr10{margin-right:0.1rem;}
.wraper .bbottom{border-bottom:1px #e5e5e5 solid;}
.wraper .btop{border-top:1px solid #e5e5e5;}
.wraper .h-info-box .lh4{line-height:0.4rem;}
.wraper .nopr{padding-right:0;}
.wraper .nopd{padding-bottom:0;}
.wraper .color-items{color:#e01a48;}
.wraper .color-gray{color:#7A7E83;}
.loading{width:1.27rem;height:0.31rem;background: url(img/loading.gif) center center; background-size:cover; margin:0 auto;}
.loadingbox{width:100%;height:0.31rem;margin:0.2rem 0;font-size:0.28rem;color:#c8cbce;text-align: center;}
.no-margin-b{padding-bottom:0;}
/*最大宽度*/
.wraper .w88{max-width: 88%;}
.wraper .w7{max-width:70%;}
/*common css end*/
/*placeholder reset--*/
input::-webkit-input-placeholder { /* WebKit browsers */ color: #7a7d82; } 
.a-search input::-webkit-input-placeholder,.b-input input::-webkit-input-placeholder{ /* WebKit browsers */ color: #fff; } 
.h-news-search input::-webkit-input-placeholder { /* WebKit browsers */ color: #afafaf; } 
.checktime::-webkit-input-placeholder,.todialogue input::-webkit-input-placeholder{ /* WebKit browsers */ color: #afafaf; } 
.loginbox input::-webkit-input-placeholder {color:#222;}
.alert{position:fixed;	z-index: 999;color:#fff;font-size:0.28rem;left:0;top:40%;right:0;margin:auto;width:50%;height:30%;font-size:0.3rem;
	/*display: -webkit-flex;display: flex;-webkit-justify-content: center;justify-content: center;-webkit-align-items:center;align-items: center;*/}
.alert span{line-height: 0.38rem;text-align: center;background: rgba(0,0,0,0.5);border-radius: 0.15rem;padding:0.3rem;display:block;}
/*web字体图标*/
 @font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /*IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
   	url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
   	url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
  /*线上字体图标*/  
/*@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1469154576_1512647.eot'); /* IE9*/
  /*src: url('//at.alicdn.com/t/font_1469154576_1512647.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  /*url('//at.alicdn.com/t/font_1469154576_1512647.woff') format('woff'), /* chrome、firefox */
  /*url('//at.alicdn.com/t/font_1469154576_1512647.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
 /* url('//at.alicdn.com/t/font_1469154576_1512647.svg#iconfont') format('svg'); /* iOS 4.1- */
/*}
                                         */
                    
/*header*/
header{width:100%;height:0.8rem;position:relative;left:0;top:0;background:#dd204b;border-bottom:1px #a8a7ab solid;overflow:hidden;z-index:999;}
header h1{width:100%;text-align:center;line-height:0.8rem;font-size:0.32rem;color:#fff;font-weight:500;}
header a{ font-size:0.28rem; color:#fff;}
header .toback{position:absolute;left:0;top:0.2rem;background: url(img/icon1.png) no-repeat;background-size:cover;width:0.17rem;height:0.29rem;}
header .h-regiser{position:absolute;right:0;top:0.3rem;}
/*footer*/
footer{position:fixed;bottom:0;overflow:hidden;width:100%;z-index:2;max-width:750px;margin:0 auto;}
footer h1,.wxlogin h1{width:100%; font-size:0.32rem;color:#222c38;text-align:center;height:0.88rem;line-height:0.88rem;border-bottom:1px #e5e5e5 solid;}
.wxlogin{overflow:hidden;width:100%;}
footer .othertype,.wxlogin .othertype{padding:0.35rem 0;width:100%;}
footer .othertype a,.wxlogin .othertype a{display:block;width:0.7rem;height:0.57rem;margin:0 auto; }
footer .othertype img,.wxlogin .othertype img{width:100%;height:auto;display:block;}
.navfooter .active span,.navfooter .active a{color:#db1f4f;}
.pd10{padding-bottom:1rem;padding-top:0;}
.wraper .colore01{color:#e01a48;}
/*animate css*/
/*moveup*/
@-webkit-keyframes moveup {from { }to { -webkit-transform: translateY(-100px);transform: translateY(-100px);}}
@keyframes moveup {from { }to {-webkit-transform: translateY(-100px);transform: translateY(-100px);}}
/*movedown*/
@-webkit-keyframes movedown {from {}to { -webkit-transform: translateY(2px);transform: translateY(2px);}}
@keyframes movedown {from {}to { -webkit-transform: translateY(2px);transform: translateY(2px);}}
/*wx*/
@-webkit-keyframes moveto {from {}to { -webkit-transform: translateY(2px);transform: translateY(2px);}}
@keyframes moveto {from {}to {-webkit-transform: translateY(2px);transform: translateY(2px);}}
/*moveright*/
@-webkit-keyframes moveright{from {}to { -webkit-transform: translateX(100px);transform: translateX(100px);}}
@keyframes moveright {from {}to {-webkit-transform: translateX(100px);transform: translateX(100px);}}
/*moveleft*/
@-webkit-keyframes moveleft{from {right:-1rem; }to { right:0.32rem;}}
@keyframes moveleft {from {right:-1rem;}to {right:0.32rem; }}
/*scale*/
@-webkit-keyframes scale{from {font-size:0.3rem;}to { font-size:0.4rem;color:#e01b49;}}
@keyframes scale {from {font-size:0.3rem;}to { font-size:0.4rem;color:#e01b49;}}
/*moveleft*/
@-webkit-keyframes addheight{from {}to {bottom:0;}}
@keyframes addheight {from {}to { bottom:0;}}
@-webkit-keyframes moveheight{from {bottom:0;}to {bottom:-500px;}}
@keyframes moveheight {from {bottom:0;}to { bottom:-500px;}}
.scale{-webkit-animation: scale .3s;animation: scale .3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
.c-height{-webkit-animation: addheight .3s linear;animation: addheight .3s linear;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
.m-height{-webkit-animation: moveheight .3s linear;animation: moveheight .3s linear;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
.wraper .moveup{-webkit-animation: moveup .6s linear;animation: moveup .6s linear;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
.wraper .moveright{-webkit-animation: moveright .6s linear;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;}
.wraper .moveleft{-webkit-animation: moveleft .6s linear;animation: moveleft .6s linear;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;}
.wraper .movedown{-webkit-animation: movedown .6s;animation: movedown .6s;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
.wraper .moveto{-webkit-animation: moveto .6s;animation: moveto .6s;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
header{display:none;}
.indexwraper{width:100%;height:100%;overflow:hidden;background: #fff;}
.indexboxlist{width:2000%;height:100%;}
.indexboxlist section{float:left;overflow:hidden;}
.indexboxlist section img{width:50%;height:auto;display: block;margin:0 auto;}
