html, body, div,iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {margin:0;padding:0;}
html{background:#f0eff5;}
ol, ul { list-style: none; }
a{text-decoration: none; color:#333;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
* { tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -ms-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
body {font: 0.14rem / 0.24rem '微软雅黑'; }
input, textarea { outline: 0; resize: none;font-size:100%;font-family: "微软雅黑";}
html{font-size: 40px; outline: 0;-webkit-text-size-adjust:none;}
html,body { width: 100%; height: 100%;}
i{font-style: normal;}
.fl { float:left; display: inline; }
.fr { float:right; display: inline; }
.clear { clear:both; }
.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; font-size:0; line-height:0; height:0;}
.clearfix { *zoom:1; /* for IE6 7 */ }
.inner{width:90%;margin:0 auto;position:relative;}
.wraper{position:relative;padding-top:0.8rem;overflow-x:hidden;height:100%;}
.innerwaper{padding-left: 0.3rem;padding-right: 0.3rem;width:100%;}
.my-wraper{padding-top:1.6rem;}
.h20{background:#f0eff5;border-top:1px solid #c8c7cc;border-bottom:1px solid #c8c7cc;height:0.2rem;}
.m-wraper{padding-top:4.2rem;overflow-x:hidden;position:relative;height:100%;}
.wraper .nobottom{border-bottom:none;}
.wraper .no-margin-top{margin-top:0;}
.wraper .no-b-tb{border-bottom:none;margin-top:0;}
.wraper .no-t-border{border-top:none;}
.newswraper{padding-bottom:1rem;}
.innercon{margin:0 auto;padding:0 0.3rem;background: #fff;}
.h20{height:0.2rem;border-top:1px #c8c7cc solid;border-bottom:1px #c8c7cc solid;}
.wraper .color-items{color:#e01a48;}
.wraper .f-color-gray{color:#bbc0c6;}
.wraper .f-color-black{color:#222c38;}
.wraper .changecolor{color:#da2051;}
.wraper .ft26{font-size:0.26rem;}
.wraper .colorbg{background: #7a7e83;}
.wraper a.colorbg{background: #7a7e83;}
.wraper .bbottom{border-bottom:1px solid #c8c7cc;}
.wraper .btop{border-top:1px solid #c8c7cc;}
/*placeholder reset--*/
input::-webkit-input-placeholder { /* WebKit browsers */ color: #222c38; } 
input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #222c38; } 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #222c38; } 
input::-ms-input-placeholder { /* Internet Explorer 10+ */ color: #222c38; } 
.alert{width:2rem;height:0.8rem;background: rgba(0,0,0,0.5);border-radius: 0.15rem;line-height: 0.8rem;text-align: center; position:fixed;left:50%;top:50%;
	z-index: 999;margin-left:-1rem;margin-top:-0.4rem;color:#fff;font-size:0.28rem;display:none}

/*web字体图标*/
@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:0.16rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    }
    
/*header*/
header{width:100%;height:0.8rem;position:fixed;left:0;top:0;background:#d72355;border-bottom:1px #a8a7ab solid;overflow:hidden;z-index:99;}
header h1{width:100%;text-align:center;line-height:0.8rem;font-size:0.32rem;color:#fff;font-weight:500;}
header a{ font-size:0.28rem; color:#fff;}
header .toback{position:absolute;left:0;top:0.2rem;background: url(img/icon1.png) no-repeat;background-size:cover;width:0.17rem;height:0.29rem;}
header .h-regiser{position:absolute;right:0;top:0.3rem;}
/*footer*/
footer{position:fixed;bottom:0;left:0;overflow:hidden;width:100%;z-index:2;}
footer h1{width:100%; font-size:0.3rem;color:#222c38;text-align:center;height:0.88rem;line-height:0.88rem;border-bottom:1px #c8c7cc solid;}
footer .othertype{padding:0.35rem 0;width:100%;margin:0 auto;}
footer .othertype a{display:block;width:0.7rem;height:0.57rem;margin:0 auto; }
footer .othertype img{width:100%;height:auto;}
.navfooter .active span,.navfooter .active a{color:#db1f4f;}