/*reset css*/
html, body, div,iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {margin:0;padding:0;}
html{background:#f0eff5;}
ol, ul { list-style: none; }
a{text-decoration: none; color:#333;outline:none;font-size:0.3rem;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
* { tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -ms-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
body {font: 16px / 0.24rem 'Microsoft YaHei', 'STHeiti',Helvetica,Arial,sans-serif; min-width:320px;max-width: 1080px;width:100%;
margin:0 auto;}
input, textarea, button, input, select{ outline: 0; resize: none;font-size:100%;font-family:'Microsoft YaHei';background: rgba(255,255,255,0);}
html{ outline: 0;-webkit-text-size-adjust:none;}
html,body { width: 100%; height: 100%;}
i{font-style: normal;}
h1,h2,h3,h4,h5,h6{font-size:0.32rem;}
p{background-color: transparent;word-break: break-all;font-size:.28rem;}
/*app*/
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
/*reset css end*/
/*common css*/
.fl { float:left; display: inline; }
.fr { float:right; display: inline; }
.clear { clear:both; }
.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; font-size:0; line-height:0; height:0;}
.clearfix { *zoom:1; /* for IE6 7 */ }
.inner{width:90%;margin:0 auto;position:relative;}
.wraper{position:relative;overflow:hidden;padding-top:0.8rem;}
.fixedwraper{position:relative;/*padding-top:0.8rem;*/}
.innerwaper{padding-left: 0.3rem;padding-right: 0.3rem;width:100%;}
.my-wraper{padding-top:1.6rem;}
.h20{background:#f0eff5;border-top:1px solid #c8c7cc;border-bottom:1px solid #c8c7cc;height:0.2rem;}
.m-wraper,.m-wraper-h{overflow-x:hidden;position:relative;padding-bottom:1rem;}
.m-wraper-h{padding-top:3.4rem;padding-bottom:1.2rem;}
.wraper .nobottom,.wraper .no-bottom{border-bottom:none;}
.no-bottom{border-bottom:none;}
.wraper .no-margin-top{margin-top:0;}
.wraper .no-b-tb{border-bottom:none;margin-top:0;}
.wraper .no-t-border{border-top:none;}
.hf20{height:0.2rem;background: #fff;border-bottom:1px #c8c7cc solid;}
.wraper .texthide{word-break: break-all;display: -webkit-box;/*-webkit-line-clamp: 3;限制行数*/-webkit-box-orient: vertical;overflow: hidden;}
.newswraper{padding-bottom:1.2rem;}
.innercon{margin:0 auto;padding:0 0.3rem;background: #fff;}
.h20{height:0.2rem;border-top:1px #c8c7cc solid;border-bottom:1px #c8c7cc solid;}
.wraper .color-items{color:#e01a48;}
.wraper .f-color-gray{color:#bbc0c6;font-size:0.2rem;line-height: 0.32rem;}
.wraper .f-color-black{color:#222c38;}
.wraper .changecolor{color:#da2051;}
.wraper .ft26{font-size:0.26rem;}
.wraper .mt0{margin-top:0;}
.wraper .mb50{margin-bottom:0.5rem;}
.wraper .mt20{margin-top:0.2rem;}
.wraper .colorbg{background: #7a7e83;}
.wraper a.colorbg{background: #7a7e83;}
.wraper .bbottom{border-bottom:1px solid #c8c7cc;}
.wraper .btop{border-top:1px solid #c8c7cc;}
.loading{width:1.27rem;height:0.31rem;background: url(img/loading.gif) center center; background-size:cover; margin:0 auto;}
.loadingbox{width:100%;height:0.31rem;margin:0.2rem 0;font-size:0.26rem;color:#c8cbce;text-align: center;}
.no-margin-b{padding-bottom:0;}
/*common css end*/
/*placeholder reset--*/
input::-webkit-input-placeholder { /* WebKit browsers */ color: #222c38; } 
input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #222c38; } 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #222c38; } 
input::-ms-input-placeholder { /* Internet Explorer 10+ */ color: #222c38; } 
.a-search input::-webkit-input-placeholder { /* WebKit browsers */ color: #fff; } 
.a-search input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #fff; } 
.a-search input::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #fff; } 
.a-search input::-ms-input-placeholder { /* Internet Explorer 10+ */ color: #fff; } 
.h-news-search input::-webkit-input-placeholder { /* WebKit browsers */ color: #afafaf; } 
.h-news-search input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #afafaf; } 
.h-news-search input::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #afafaf; } 
.h-news-search input::-ms-input-placeholder { /* Internet Explorer 10+ */ color: #afafaf; } 
.alert{position:fixed;	z-index: 999;color:#fff;font-size:0.28rem;left:0;top:40%;right:0;margin:auto;width:50%;height:30%;font-size:0.3rem;
	/*display: -webkit-flex;display: flex;-webkit-justify-content: center;justify-content: center;-webkit-align-items:center;align-items: center;*/}
.alert span{line-height: 0.38rem;text-align: center;background: rgba(0,0,0,0.5);border-radius: 0.15rem;padding:0.3rem;display:block;}
/*web字体图标*/
@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
/*header*/
header{width:100%;height:0.8rem;position:fixed;left:0;top:0;background:#dd204b;border-bottom:1px #a8a7ab solid;overflow:hidden;z-index:999;}
header h1{width:100%;text-align:center;line-height:0.8rem;font-size:0.32rem;color:#fff;font-weight:500;}
header a{ font-size:0.28rem; color:#fff;}
header .toback{position:absolute;left:0;top:0.2rem;background: url(img/icon1.png) no-repeat;background-size:cover;width:0.17rem;height:0.29rem;}
header .h-regiser{position:absolute;right:0;top:0.3rem;}
/*footer*/
footer{position:fixed;bottom:0;left:0;overflow:hidden;width:100%;z-index:2;}
footer h1,.wxlogin h1{width:100%; font-size:0.32rem;color:#222c38;text-align:center;height:0.88rem;line-height:0.88rem;border-bottom:1px #c8c7cc solid;}
.wxlogin{overflow:hidden;width:100%;}
footer .othertype,.wxlogin .othertype{padding:0.35rem 0;width:100%;}
footer .othertype a,.wxlogin .othertype a{display:block;width:0.7rem;height:0.57rem;margin:0 auto; }
footer .othertype img,.wxlogin .othertype img{width:100%;height:auto;display:block;}
.navfooter .active span,.navfooter .active a{color:#db1f4f;}
.pd10{padding-bottom:1rem;}
.wraper .colore01{color:#e01a48;}
/*animate css*/
/*moveup*/
@-webkit-keyframes moveup {from { }to { -webkit-transform: translateY(-100px);transform: translateY(-100px);}}
@keyframes moveup {from { }to {-webkit-transform: translateY(-100px);transform: translateY(-100px); }}
/*movedown*/
@-webkit-keyframes movedown {from {opacity: 0; }to { -webkit-transform: translateY(10px);transform: translateY(10px);}}
@keyframes movedown {from {opacity: 0; }to { -webkit-transform: translateY(10px);transform: translateY(10px);}}
/*moveright*/
@-webkit-keyframes moveright{from {}to { -webkit-transform: translateX(100px);transform: translateX(100px);}}
@keyframes moveright {from {}to {-webkit-transform: translateX(100px);transform: translateX(100px);}}
/*moveleft*/
@-webkit-keyframes moveleft{from {right:-1rem; }to { right:0.32rem;}}
@keyframes moveleft {from {right:-1rem;}to {right:0.32rem; }}
.wraper .moveup{-webkit-animation: moveup .6s linear;animation: moveup .6s linear;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
.wraper .moveright{-webkit-animation: moveright .6s linear;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;}
.wraper .moveleft{-webkit-animation: moveleft .6s linear;animation: moveleft .6s linear;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;}
.wraper .movedown{-webkit-animation: movedown .6s;animation: movedown .6s;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
header{display:none;}
.indexwraper{width:100%;height:100%;overflow:hidden;background: #fff;}
.indexboxlist{width:2000%;height:100%;}
.indexboxlist section{float:left;overflow:hidden;}
.indexboxlist section img{width:50%;height:auto;display: block; margin:0 auto;}


