/*header*/
header{width:100%;height:0.8rem;position:fixed;left:0;top:0;background:#d72355;border-bottom:1px #a8a7ab solid;overflow:hidden;z-index:2;}
header h1{width:100%;text-align:center;line-height:0.8rem;font-size:0.32rem;color:#fff;font-weight:500;}
header a{ font-size:0.28rem; color:#fff;}
header .toback{position:absolute;left:0;top:0.2rem;background: url(img/icon1.png) no-repeat;background-size:cover;width:0.17rem;height:0.29rem;}
header .h-regiser{position:absolute;right:0;top:0.25rem;}

/*footer*/
footer{position:fixed;bottom:0;left:0;overflow:hidden;width:100%;z-index:2;}
footer h1{width:100%; font-size:0.3rem;color:#222c38;text-align:center;height:0.88rem;line-height:0.88rem;border-bottom:1px #c8c7cc solid;}
footer .othertype{padding:0.35rem 0;width:100%;margin:0 auto;}
footer .othertype a{display:block;width:0.7rem;height:0.57rem;margin:0 auto; }
footer .othertype img{width:100%;height:auto;}


/*登录主体 --start*/
.login-area{padding:0.85rem 0.37rem 2.18rem; overflow:hidden;width:100%;}
.login-area .loginbox{border:1px #c8c7cc solid;border-radius:5px; background: #fff;}
.loginbox span{display:inline-block; margin-left:0.42rem;}
.loginbox input{border:none;outline:none;line-height: 1.37rem;font-size:0.3rem;color:#222c38;text-indent:0.4rem;}
.loginbox .username{height:1.43rem;border-bottom:1px #c8c7cc solid;}
.loginbox .username input{width:5.96rem;}
.loginbox .username span{background:url(img/ren.png) no-repeat;width:0.25rem;height:0.29rem;background-size:cover;}
.loginbox .password span{background: url(img/pass.png) no-repeat;width:0.27rem;height:0.34rem; background-size: cover;}
.loginbox .password input{width:4.43rem;}
.loginbox .password a{color:#e01a48;}
.login-area .submit{display:inline-block;width:5.6rem;margin-left:0.58rem;background:#e01a48; padding:0.25rem 0;color:#fff;text-align: center;border-radius: 0.2rem;margin-top:0.76rem;box-shadow:0 0 15px rgba(0,0,0,0.3);font-size:0.3rem;}

/*注册机构 --start*/
.choose-org-type,.items .orgtitle{background: #f0eff5;border-bottom:1px solid #c8c7cc;height:0.65rem;line-height: 0.65rem;font-size:0.3rem;}
.items .orgtitle{height:0.8rem;line-height: 0.8rem;}
.items .orgtitle{background:#fff;position:relative;}
.items .orgtitle .orgname{display: inline-block; background: url(img/down.png) no-repeat right center; width:100%; background-size:0.25rem 0.16rem ;}
.items .orgtitle .bgorgname{background: url(img/up.png) no-repeat right center;background-size:0.25rem 0.16rem ;}
.items{background:#fff;overflow:hidden;}

.orgmark a{display: inline-block;height:0.59rem;line-height:0.59rem;width:1.52rem; text-align:center;font-size:0.26rem;margin:0.26rem 0.16rem;color:#7a7e83; border:1px #c8c7cc solid; 
					border-radius: 0.3rem;}
.nextstep{ display:inline-block;text-align:center;height:0.78rem;width:80%;font-size:0.3rem;line-height:0.78rem;background: #e01a48;color:#fff;margin:0.7rem;border-radius:0.2rem;}
.items .active{border:1px #de204b solid; color:#de204b;position:relative;}
.items .active:after{position:absolute;content:'';width:0.28rem;height:0.28rem;top:0;right:-0.14rem;
					background: url(img/choose.png) no-repeat; background-size:cover;}
.myselfmark input{ width: 1.2rem; height: 0.4rem;border: none;line-height: 0.4rem; text-align: center;}

/*注册--上传名片--start*/
.uploadbox{padding:0.62rem 0.98rem 0.3rem 0.95rem;border-bottom:1px #c8c7cc solid;}
.uploadbox .imgcard{display:block;background:#9ba4ad;padding:1.07rem 2.09rem 1.08rem 2.3rem;}
.uploadbox .imgcard img{ width:1.18rem;height:0.96rem;display: block;}
.uploadbox .uploadbtn{display: block; color:#fff;font-size:0.3rem;text-align:center;width:100%;height:0.78rem;line-height:0.78rem;
					background: #3e82f7;border-radius: 0.2rem;margin:0.45rem 0 0.2rem;box-shadow: 0 0 0.3rem rgba(0,0,0,0.5);}
.uploadbox  p{width:100%;text-align:center;font-size:0.24rem;color:#7a7e83;line-height: 0.46rem;}
.infobox{padding:0.08rem 0.3rem 0; background: #FFFFFF;}
.infobox li{position:relative;height:0.8rem;line-height: 0.8rem;border-bottom:1px #c8c7cc solid;font-size:0.3rem;color:#222c38;}
.infobox li span.infocard{position:absolute;right:0.1rem;}
.infobox li input{border:none;outline: none;text-align: right;}

.reg-shadow{width:100%;height:100%;position:fixed;left:0;top:0;background:rgba(0,0,0,.3);overflow:hidden;}
.shadow-info{position:fixed;bottom:0;left:0;width:100%;}
.shadow-info .picinfo{background: #fff;width:90%;margin:0.2rem auto;border-radius: 0.3rem;}
.picinfo span{display: block;color:#007aff;font-size:0.38rem;height:1.14rem;line-height: 1.14rem;text-align: center;}

.reg-sucess a{display: block;width:1.69rem;height:1.69rem;background: url(img/sucess.png) no-repeat;background-size: cover; margin:0.3rem auto;}
.reg-sucess p{line-height: 1.38rem;font-size:0.3rem;color:#222c38;}

/*web字体图标*/
@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:0.16rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    }
    
/*news --start--*/
.inner .news-serch{ width:0.32rem;height:0.32rem;font-size:0.32rem;top:0.29rem;}
.banner{background: url(img/banner.jpg) no-repeat center center;background-size:cover; width:100%;height:2.95rem;}
.news-list-items{border-top:1px #c8c7cc solid; padding:0.36rem 0.4rem 0.3rem;background: #fff;}
.news-list-items h1{width:100%;color:#969fa9;font-size:0.24rem;line-height: 0.4rem;position:relative;padding-left:0.5rem;}
.news-list-items h1 span{width:0.4rem;height:0.4rem;position:absolute;left:0;}
.news-list-items h1{display: inline-block;}
.news-list-items h1 span img{width:100%;height:auto;display: block;}
.newsbox{overflow:hidden;display: block; color:#969fa9;}
.newsbox .sec-news-l{float:left;width:4.7rem;}
.newsbox .sec-news-l h3{line-height: 0.86rem;font-size:0.3rem;color:#222c38;}
.newsbox .sec-news-l p{line-height:0.36rem;font-size:0.24rem;}
.newsbox .sec-news-r{float:right;width:1.6rem;height:1.6rem;padding-top:0.24rem;}
.newsbox .sec-news-r img{width:100%;height:auto;display: block;}
.news-bottom{margin-top:0.26rem;}
.news-bottom .sec-b-l{float:left; margin-top:0.07rem;}
.news-bottom .sec-b-l div{display:inline-block;color:#969fa9;margin-right:0.5rem;}
.sec-like span,.sec-comment span{display: inline-block; margin-right:0.1rem;width:0.24rem;height:0.22rem;}
.news-bottom .sec-b-r{float:right;}
.sec-b-r a{display: inline-block;color:#969fa9;padding:0.1rem;font-size:0.2rem;border:1px #969fa9 solid;border-radius: 0.1rem;}
.footer{border-top:1px #c8c7cc solid; padding-top:0.2rem;padding-bottom:0.1rem; background: #f7f7f8;}
.navfooter li{float:left;width:25%;text-align: center;}
.navfooter li span{display: block;height:0.53rem;font-size:0.44rem;color:#7a7e83;}
.navfooter li a{display: block;line-height: 0.32rem;color:#7a7e83; text-align: center;}
.navfooter li:hover span,.navfooter li:hover a{color:#dd204b;}
.firstnews:after{content:'置顶';color:#dd204b;position:absolute;right:0.1rem;top:0;}

/*新闻详情页--start*/
.inner .collection{right:0.6rem;font-size:0.32rem;color:#fff;}
.inner .share{font-size:0.34rem;color:#fff;}
.newscon-box,.newscomment-box{background: #fff;margin-top:0.2rem;overflow:hidden;padding-bottom:0.4rem;border-bottom:1px #969fa9 solid;}
.newscon-box h3{line-height:0.8rem;width:100%;text-align: center;border:1px #c8c7cc solid;font-size:0.28rem;color:#222c38;}
.newscon-box img{width:80%;height:auto;display: block;margin:0.2rem auto;}
.newscon-box p{width:90%;margin:0 auto;text-indent:0.5rem;line-height: 0.36rem;font-size:0.24rem;color:#9ba4ad;}
.con-bottom{float:right;line-height: 0.4rem;margin-right: 8%;color:#9ba4ad;margin-top:0.08rem;}
.con-bottom i{margin:0 0.1rem;}
.con-bottom i.like{font-size:0.3rem;}
.newscomment-box{border-top:1px #969fa9 solid;}
.newscomment-box .comment-title{width:100%;font-size:;line-height: 0.8rem;font-size:0.28rem;color:#e01a48;height:0.8rem;
border-bottom:1px #969fa9 solid; padding:0 0.3rem;position:relative;}
.newscomment-box .comment-title span{position:absolute;right:5%;color:#7a7e83;font-size:0.2rem;}
.newscomment-box .comment-title i{font-size:0.3rem;position:absolute;right:21%;color:#7a7e83;top:0.03em;}
.newscomment-box .items{margin:0.3rem;border-bottom:1px #c8c7cc solid;}
.comm-info{height:0.62rem;}
.comm-info span{ display: block;float:left;}
.comm-info span:first-child{width:0.62rem;height:0.62rem;margin-right:0.3rem;}
.comm-info span:last-child{float:right;margin-top:0.14rem;}
.comm-info span:last-child i{font-size:0.32rem;margin-right:0.1rem;}
.comm-info span img{width:100%;height:auto;display: block;}
.comm-info .infor-comm i{display: block;}
.comm-info .username{font-size:0.22rem;line-height: 0.38rem;}
.comm-info .job{font-size:0.2rem;line-height: 0.24rem;margin-top:0.05rem;color:#9ba4ad;}
.newscomment-box p{width:100%;padding:0.2rem;padding-left:0.92rem;font-size:0.28rem;color:#7a7e83;line-height: 0.3rem;}

/*新闻搜索--start*/
.inner .news-serch{background:none;}
.inner h1 input{width: 80%;background: #d52458; border: none;font-size: 0.3rem;color: #fff;}

.inner h1 input::-webkit-input-placeholder { /* WebKit browsers */ 
color: #fff; 
} 
.inner h1 input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #fff; 
} 
.inner h1 input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #fff; 
} 
.inner h1 input::-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #fff; 
} 

.news-classify{width:100%;background: #fff; padding:0.14rem 0;border-bottom:1px #c8c7cc solid; height:0.78rem;line-height:0.5rem;}
.news-classify a{color:#7a7e83;}
.classify-l,.classify-r{width:50%;text-align: center;position:relative;}
.ml{border-right:1px #ccc solid;}
.news-classify span{color:#7a7e83;font-size:0.24rem;
					background: url(img/down.png) no-repeat right center;
					background-size:0.26rem 0.16rem;padding-right:0.36rem;
					margin-left:0.2rem;}

.all-industry,.sort-mark{position:absolute;left:0;top:0.66rem;background: #fff;}
.all-industry,.sort-mark{width:100%;border:1px #c8c7cc solid;border-top:none;border-bottom:none;}
.news-classify .sort-mark{left:-100%;width:200%;}
.all-industry li{position:relative;}
.all-industry li.active,.sort-mark li.active{background:#eeeeee;}
.all-industry li,.sort-mark li{height:0.78rem;line-height: 0.78rem; text-align: center;border-bottom:1px #c8c7cc solid;}
.all-industry li a,.sort-mark li a{display: block;}
.all-industry ul{position:absolute;left:101%;width:100%;background: #fff;border:1px #c8c7cc solid;
border-left:none;border-bottom:none;top:-1px;}
.classify-l span.active,.classify-r span.active{background: url(img/up2.png) no-repeat right center;background-size:0.26rem 0.16rem;color:#e01a48;}
