<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>并购圈-活动</title>
		<link rel="stylesheet" type="text/css" href="../css/basic.css"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
	</head>
	<body id='news'>
		<div class="head newshead">
			<h1 class="innerbox">
				<a href="index.html" class="logo"><img src="../img/logo1.png"/></a>
				<a href="#this" class="myhome"><img src="../img/myself.png"/></a>
				<a href="#this" class="upload"><img src="../img/upload.png"/></a>
			</h1>
		</div>
		<div class="containner inner clearfix">
			<div class="inner800 fl">
				
			
			<div class="newstitle">
				<h3>什么人适合做并购？</h3>
				<div class="newssort"><i>原创文章</i>分类: <a href="#this">活动</a>作者: <a href="#this">UMISS</a></div>
				<div class="newsmark">
					<span><i class="iconfont">&#xe601;</i>78237</span>
					<span><i class="iconfont">&#xe606;</i>20</span>
					<span><i class="iconfont">&#xe604;</i>666</span>
					<span><i class="iconfont">&#xe60d;</i>39</span>
					<span><i class="iconfont">&#xe60b;</i>2016-04-26</span>
					<div class="clear">
						
					</div>
				</div>
			</div>
			
			<div class="newscontent">
				<img src="../img/newspic.png" alt="新闻图片" />
				
			</div>
			<div class="baseinfo">
				<h3>基础信息</h3>
				<div class="con">
					<p>
						主办单位：并购菁英汇<br />
						活动时间：2016年4月28日 - 2016年4月30日<br />
						活动地点：深圳市福田区东海国际公寓<br />
						活动规模：500人
					</p>
				</div>
				
			</div>
			<div class="baseinfo">
				<h3>活动简介</h3>
				<div class="con">
					<p>
						46号文的出现，体育产业从业界内心激情澎湃，产业外人士纷纷扎入，这是体育产业建仓的最好时候，那么<br />
接下来体育与资本、体育金融、体育产业将如何风起云涌？<br />
谁将是体育产业中的新星？<br />
谁将成为体育产业里的独角兽？
					</p>
				</div>
				
			</div>
			<div class="baseinfo">
				<h3>时间</h3>
				<div class="con  clearfix">
					<div><em>开始</em><time>2016-4-27   13：30</time></div>
					<div><em>结束</em><time>2016-4-28   00：00</time></div>
				</div>
				
			</div>
			<div class="baseinfo">
				<h3>活动流程</h3>
				<div class="con">
					<ul>
						<li><em>签到</em><time>2016-4-27   13：30</time></li>
						<li><em>活动开场</em><time>2016-4-27   13：30</time></li>
						<li><em>天天投介绍</em><time>2016-4-27   13：30</time></li>
						<li><em>圆桌论坛+现场提问</em><time>2016-4-27   13：30</time></li>
						<li><em>12个项目路演</em><time>2016-4-27   13：30</time></li>
						<li><em>投融资面对面一对一交流</em><time>2016-4-27   13：30</time></li>
						<li><em>活动结束</em><time>2016-4-27   13：30</time></li>
					</ul>
				</div>
				
			</div>
			<div class="baseinfo pd40">
				<h3 class="colore01">参与嘉宾</h3>
				<div class="con">
					<p>
						中银律师事务所合伙人 安寿辉<br />
中国文化产业基金总裁  陈 杭<br />
景林资本董事总经理  陈晓东<br />
奥美健康  董事长  褚 橙<br />
光大体育基金总裁  范 南<br />
乐视体育CEO  雷振剑
复星集团执行总经理  龚 琳<br />
					</p>
				</div>
				
			</div>
			<div class="keymark clearfix bt">
				<i class="iconfont fl">&#xe60a;</i>
				<div class="fl clearfix"><a href="#this">体育</a><a href="#this">融资</a><a href="#this">国际</a></div>
			</div>
			<ul class="conmark clearfix bb">
				<li><a href=""><i class="iconfont">&#xe605;</i>分享</a><span>0人已分享</span></li>
				<li><a href=""><i class="iconfont">&#xe606;</i>收藏</a><span>0人已收藏</span></li>
				<li class="mycommend"><a href=""><i class="iconfont">&#xe609;</i>我要推荐</a><span>0人已推荐</span></li>
				<li class="like"><a href=""><i class="iconfont">&#xe607;</i>我要报名</a><span>0人报名</span></li>
			</ul>
			
			<div class="news-comment">
				<h3>评论（<em>11</em>）</h3>
				<div class="subcon">
					<span><img src="../img/cimg.png" alt="" /></span>
					<div class="textbox clearfix">
						<div >
							<textarea name="" rows="" cols=""></textarea>
							<h6>还可以输入<em class="colore01">500</em>个字</h6>
						</div>
						<a href="javascript:void(0);">发表评论</a>
					</div>
				</div>
			</div>
			<div class="commentlist">
				<section>
					<span class="imgleft"><img src="../img/cimg.png" alt="" /></span>
					<div class="commentinfo">
						<h3><i class="colore01">Unclehome</i>· <i class="color99">数字联盟有限公司董事长</i><time>4小时前</time><span>3楼</span></h3>
						<p>非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章</p>
						<footer>
							<span><i class="iconfont">&#xe60d;</i>回复</span>
							<span><i class="iconfont">&#xe60c;</i>666</span>
						</footer>
					</div>
				</section>
				<section>
					<span class="imgleft"><img src="../img/cimg.png" alt="" /></span>
					<div class="commentinfo">
						<h3><i class="colore01">Unclehome</i>· <i class="color99">数字联盟有限公司董事长</i><time>4小时前</time><span>2楼</span></h3>
						<p>非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章</p>
						<footer>
							<span><i class="iconfont">&#xe60d;</i>回复</span>
							<span><i class="iconfont">&#xe60c;</i>666</span>
						</footer>
					</div>
				</section>
				<section>
					<span class="imgleft"><img src="../img/cimg.png" alt="" /></span>
					<div class="commentinfo">
						<h3><i class="colore01">Unclehome</i>· <i class="color99">数字联盟有限公司董事长</i><time>4小时前</time><span>1楼</span></h3>
						<p>非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章非常值得一读的文章</p>
						<footer>
							<span><i class="iconfont">&#xe60d;</i>回复</span>
							<span><i class="iconfont">&#xe60c;</i>666</span>
						</footer>
					</div>
				</section>
			</div>
		</div>
			<div class="conright fr">
				<div class="activeinfo">
					<h3>活动</h3>
					<p>2016中国国际体育投融资总裁年会<br />
					2016/04/27  开始</p>
				</div>
				<div class="activenum">
					<h2><i>565</i>人已参加</h2>
					<p>
						<a href="#this"><img src="../img/cimg.png"/></a>
						<a href="#this"><img src="../img/cimg.png"/></a>
						<a href="#this"><img src="../img/cimg.png"/></a>
						<a href="#this"><img src="../img/cimg.png"/></a>
						<a href="#this"><img src="../img/cimg.png"/></a>
						<a href="#this"><img src="../img/cimg.png"/></a>
						<a href="#this"><img src="../img/cimg.png"/></a>
						<a href="#this"><img src="../img/cimg.png"/></a>
						<a href="#this"><img src="../img/cimg.png"/></a>
						<a href="#this"><img src="../img/cimg.png"/></a>
						
					</p>
				</div>
				<a href="#this" class="my-join"><i class="iconfont">&#xe607;</i>我要报名 (400元)</a>
			</div>
		</div>
		<div class="footer">
			<div class="innerbox">
				<img src="../img/flogo.png" alt="" />
			<p>Powered by © 2008-2016 chinama.club</p>
			</div>
			
		</div>
	</body>
</html>
